    
.FragmentBarBlue
{
background: rgb(216,242,255);
background: -moz-linear-gradient(top, rgb(216,242,255) 0%, rgb(242,250,255) 45%, rgb(175,228,255) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(216,242,255)), color-stop(45%,rgb(242,250,255)), color-stop(100%,rgb(175,228,255)));
background: -webkit-linear-gradient(top, rgb(216,242,255) 0%,rgb(242,250,255) 45%,rgb(175,228,255) 100%);
background: -o-linear-gradient(top, rgb(216,242,255) 0%,rgb(242,250,255) 45%,rgb(175,228,255) 100%);
background: -ms-linear-gradient(top, rgb(216,242,255) 0%,rgb(242,250,255) 45%,rgb(175,228,255) 100%);
background: linear-gradient(to bottom, rgb(216,242,255) 0%,rgb(242,250,255) 45%,rgb(175,228,255) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8f2ff', endColorstr='#afe4ff',GradientType=0 );
}


.FragmentBarRed
{
background: rgb(255,216,216);
background: -moz-linear-gradient(top, rgb(255,216,216) 0%, rgb(255,242,242) 45%, rgb(255,175,175) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,216,216)), color-stop(45%,rgb(255,242,242)), color-stop(100%,rgb(255,175,175)));
background: -webkit-linear-gradient(top, rgb(255,216,216) 0%,rgb(255,242,242) 45%,rgb(255,175,175) 100%);
background: -o-linear-gradient(top, rgb(255,216,216) 0%,rgb(255,242,242) 45%,rgb(255,175,175) 100%);
background: -ms-linear-gradient(top, rgb(255,216,216) 0%,rgb(255,242,242) 45%,rgb(255,175,175) 100%);
background: linear-gradient(to bottom, rgb(255,216,216) 0%,rgb(255,242,242) 45%,rgb(255,175,175) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd8d8', endColorstr='#ffafaf',GradientType=0 );
}

.DQXFloatBox
{ 
    border-width:2px;
    border-radius: 5px ;
    -webkit-border-radius: 5px ;
    border-style:solid;
    border-color:rgb(0,0,0);
    background-color: white ;
    padding: 5px ;
}

.DQXFloatBoxHeader
{ 
    background-image:none;
    background-color: white ;
    color: rgb(0,0,0);
    font-weight: bold ;
    font-family: Helvetica, sans-serif ;
    font-size: 12px ;
    padding: 2px ;
    border-bottom: 1px solid black ;
}


.DQXFloatBoxContent
{
    font: serif ;
    font-size: 10px ;
    background: rgb(230,230,230);
    filter:none;
}

.bayes_factor_plot {
    width: 500px ;
    height: 300px ;
}

svg {
    border: 1px solid rgb(200,200,200) ;
}

.bayes_factor_plot svg rect {
    stroke: black ;
    fill: steelblue ;
}

.bayes_factor_plot svg line {
    stroke: rgb( 0, 0, 0 ) ;
}

.bayes_factor_plot .vaxislabel {
    text-anchor: end ;
    font-size: 10px ;
}
